
@{ 
    ViewBag.Title = "Inicio"; 
}

<link rel="stylesheet" href="~/Content/Inicio.css">

<h2 id="title">LABORATORIO JARAF   </h2>

<body class="inicio">

    <div class="boton">
        <ol>
            <a href="https://localhost:44327/Login/Inicio" class="btn btn-primary"> Inicio </a>
            <a href="https://localhost:44327/Examenes/Examenes" class="btn btn-primary">Examenes</a>
            <a href=" https://localhost:44327/Paciente/Create" class="btn btn-primary">Agregar paciente</a>
            <a href="https://localhost:44327/Paciente/Index2" class="btn btn-primary">pacientes</a>
            <a href="https://localhost:44327/Cita/CitaNueva" class="btn btn-primary">Hacer cita</a>
            <a href="https://localhost:44327/Cita/CrearCita" class="btn btn-primary">Ver cita</a>
    </div>

    <div class="logo">
        <img src="~/Content/Estilo CSS HTML/23.png" id="img-logo" />
    </div>

    <div class="cards">
        <div class="card1">
            <img src="~/Content/Estilo CSS HTML/doctor-estetoscopio-tocando-iconos-digitales_104033-2.jpg" class="img1" alt="...">
            <div class="card-body">
                <h3 class="title1">Mision</h3>
                <p class="mision">
                    Brindar servicio de exámenes clínicos eficientes, confiables y oportunos, que satisfagan las necesidades de nuestros clientes, a
                    través de un equipo humano y tecnológico altamente calificado, empleando estándares de calidad reconocidos a nivel mundial.
                </p>
            </div>
        </div>
        <div class="card2">
            <img src="~/Content/Estilo CSS HTML/mujer-joven-medico-investigadores-atencion-medica-que-trabajan-laboratorio-ciencias-vida_130181-106.jpg" class="img2" alt="...">
            <div class="card-body">
                <h3 class="title2">Vision</h3>
                <p class="vision">
                    Ofrecer los servicios de Laboratorio Clínico de la más alta calidad en el menor tiempo posible, utilizando los mejores
                    recursos humanos y tecnológicos disponibles. Garantizar y mantener un ambiente de amabilidad, privacidad y confiabilidad.
                    Ser un laboratorio conocido y respetado por su compromiso continuo con la excelencia.
                </p>
            </div>
        </div>
        <div class="card3">
            <img src="~/Content/Estilo CSS HTML/cientifico-registrando-valor-cientifico-nota-experimento-sala-lap_11304-1599.jpg" class="img3" alt="...">
            <div class="card-body">
                <h3 class="title3">Valores</h3>
                <p class="valores">
                    <li>
                        Compromiso
                        •Etica
                        • Honestidad
                        • Lealtad
                        • Liderazgo
                        • Profesionalismo
                        • Trabajo en Equipo
                        • Vocación de Servicio
                    </li>
                </p>
            </div>
        </div>
    </div>
</body>





